__pycache__/
*.py[cod]
*$py.class

.vscode/
.idea/

build/
dist/
*.egg-info/

.env
.env.*

venv/
.venv/

alembic/versions/*.pyc

*.sqlite3
*.db

*.log

htmlcov/
.coverage
.cache
nosetests.xml
coverage.xml
test-results/
.pytest_cache/

*.pid
*.pid.lock
docker-compose.override.yml
docker-compose-dev.yml
Dockerfile.dev

.mypy_cache/
ruff_cache/
.pyright/
.pyre/

node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

docs/

.DS_Store
Thumbs.db
